/* === CSS VARIABLES === */
:root {
    /* === Colors === */
    --dark-blue: #193B68;
    --light-blue: #1479FF;
    --light-grey: #E5E5E5;

    /* === Fonts === */
    --main-font: Mont;
    --title-font-size: 44px;
    --sentence-font-size: 12px;
}

/* === SIGN IN === */
.container {
    /* === Container of the form === */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10rem;
}

.form {
    /* === The form === */
    box-sizing: border-box;
    width: 380px;
    height: 370px;
    padding: 0.5rem 2.5rem;
    border-radius: 2rem;
    box-shadow: 0px 9px 26px rgba(20, 121, 255, 0.25);
}

.title {
    /* === Sign In Label === */
    font-family: var(--main-font);
    font-size: var(--title-font-size);
    color: var(--dark-blue);
    font-weight: 800;
        /*margin-bottom: 3rem;*/

}

.textfield {
    /* === All contents of the textfield (input and label) === */
    position: relative;
    height: 1.75rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.textfield input {
    /* === Input tags of the text fields === */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    font-family: var(--main-font);
    font-size: var(--sentence-font-size);
    font-weight: 800;
    border: 1px solid var(--light-grey);
    border-radius: 0.75rem;
    outline: none;
    background: none;
    transition: all 0.3s ease;
    z-index: 1;
}

.prompt {
    /* === Username and Password Prompt === */
    position: absolute;
    top: 0.5rem;
    left: .75rem;
    padding: 0 5px 0;
    background-color: white;
    border-radius: 2rem;
    color: var(--light-grey);
    font-family: var(--main-font);
    font-size: var(--sentence-font-size);
    font-weight: 600;
    transition: 0.3s;
}

.message {
    position: absolute;
    width: 18rem;
    top: 58%;
    font-family: Mont;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: indianred;
}

.button {
    /* === Sign in Button === */
    position: relative;
    top: 4rem;
    height: 2rem;
    display: block;
    /*margin-left: auto;*/
    padding: 0 2rem;
    outline: none;
    border: none;
    background-color: var(--light-blue);
    color: white;
    font-family: var(--main-font);
    font-size: var(--sentence-font-size);
    font-weight: 600;
    border-radius: .75rem;
    cursor: pointer;
    transition: .3s;
}

.button:hover {
    /* === Animation for Button === */
    opacity: 75%;
    box-shadow: 0px 15px 24px rgba(20, 121, 255, 0.25);

}

.textfield input:focus + .prompt {
    /* === Event of the prompt texts when text fields are focused === */
    top: -.5rem;
    left: .8rem;
    color: var(--dark-blue);
    font-size: var(--sentence-font-size);
    font-weight: 600;
    z-index: 10;
}

.field:not(:placeholder-shown).field:not(:focus)+.prompt {
    /* === Prompt texts remains at the top === */
    top: -.5rem;
    left: .8rem;
    font-size: var(--sentence-font-size);
    font-weight: 600;
    z-index: 10;
}

.textfield input:hover {
    border: 1px solid var(--light-blue);
    transition: all 0.3s ease;
}
.textfield input:focus{
    /* === Animation for text fields === */
    border: 1px solid var(--dark-blue);
    transition: all 0.3s ease;
}

.text {
    /* === Don't have an account yet === */
    position: relative;
    top: 4.50rem;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 10px;
    color: var(--text-color-title);
}

.link {
    /* === Sign up hyperlink === */
    position: relative;
    top: 2.85rem;
    margin-left: 9rem;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 10px;
    color: var(--light-blue);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
