{% extends 'dockelan/sidebar.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% block content %}
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/appointmentrequest.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <div class="container">
                <label id="confirm-label">Decline appointment</label>
                <strong class="confirm-details">Patient: {{ appointment.patient }}</strong>
                <strong class="confirm-details">Date: {{ appointment.date }}</strong>
                <strong class="confirm-details">Time: {{ appointment.start_time }} - {{ appointment.end_time }}</strong>

                <form method="POST">
                    {% csrf_token %}
                        <input class="confirm-button" type="submit" name="declineAppointment" value="Decline Appointment">
                </form>
            </div>
        </div>
    </body>
    {% endblock %}
</html>
