{% extends 'dockelan/topbar.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% block content %}
        <head>
            <meta charset="UTF-8">
            <title>Doc Kelan</title>
            <link rel="stylesheet" type="text/css" href="{% static 'css/doctorsignup.css' %}">
            </script>
        </head>
        <body>
            <div class="container">
                <form method="POST" action="">
                    {%  csrf_token %}
                    <h1 class="title">Doctor sign up.</h1>
                    <h2 class="subtitle">Basic Information</h2>
                    <div class="user-details">
                        <div class="textfield">
                            <input class="field" type="text" placeholder=" " id="last_name" name="last_name" required>
                            <label class="prompt" for="last_name">Last Name</label>
                        </div>
                        <div class="textfield">
                            <input class="field" type="text" placeholder=" " id="first_name" name="first_name" required>
                            <label class="prompt" for="first_name">First Name</label>
                        </div>
                        <div class="textfield">
                            <input class="field" type="text" placeholder=" " id="middle_name" name="middle_name" required>
                            <label class="prompt" for="middle_name">Middle Name</label>
                        </div>
                        <div class="textfield">
                            <select class="select" id="name_suffix" name="name_suffix" onclick="this.setAttribute('value', this.value);" value="">
{#                                <option value="" selected>---</option>#}
                                <option value="">---</option>
                                <option value="Jr.">Jr.</option>
                                <option value="II">II</option>
                                <option value="III">III</option>
                                <option value="IV">IV</option>
                                <option value="V">V</option>
                                <option value="VI">VI</option>
                                <option value="VII">VII</option>
                                <option value="VIII">VIII</option>
                                <option value="IX">IX</option>
                                <option value="X">X</option>
                            </select>
                            <label class="prompt" for="name_suffix">Suffix</label>
                        </div>
                        <div class="textfield">
                            <input class="field" type="text" placeholder=" " id="birthday" name="birthday" onclick="(this.type='date')" required>
                            <label class="prompt" for="birthday">Date of Birth</label>
                        </div>
                        <div class="textfield">
                            <select class="select" id="sex" name="sex" onclick="this.setAttribute('value', this.value);" value="" required>
                                <option value="" selected>---</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            </select>
                            <label class="prompt" for="sex">Sex</label>
                        </div>
                        <div class="textfield" id="region" name="region">
                            {{form.region}}
                            <label class="prompt" for="region">Regions</label>
                        </div>
                    </div>
                    <h2 class="subtitle">Contact Information</h2>
                    <div class="user-details">
                        <div class="textfield">
                            <input class="field" type="number" placeholder=" " id="cellphone_number" name="cellphone_number" required>
                            <label class="prompt" for="cellphone_number">Phone Number</label>
                        </div>
                        <div class="textfield">
                            <input class="field" type="number" placeholder=" " id="telephone_number" name="telephone_number">
                            <label class="prompt" for="telephone_number">Landline Number</label>
                        </div>
                        <div class="textfield">
                            <input class="field" type="email" placeholder=" " id="email" name="email" required>
                            <label class="prompt" for="email">Email Address</label>
                        </div>
                    </div>
                    <h2 class="subtitle">Account Details</h2>
                    <div class="user-details">
                        <div class="textfield">
                            <input class="field" type="text" placeholder=" " id="username" name="username" required>
                            <label class="prompt" for="username">Username</label>
                        </div>
                        <div class="textfield">
                            <input class="field" type="password" placeholder=" " id="password" name="password" required>
                            <label class="prompt" for="password">Password</label>
                        </div>
                        <div class="textfield">
                            <input class="field" type="password" placeholder=" " id="retype_password" name="retype_password" required>
                            <label class="prompt" for="retype_password">Re-type Password</label>
                        </div>
                    </div>
                    <h2 class="subtitle">Medical Information</h2>
                    <div class="user-details">
                        <div class="textfield" id="specialty" name="specialty" required>
                            {{form.specialty}}
                            <label class="prompt" for="specialty">Specialty</label>
                        </div>
                        <div class="textfield" required>
{#                            {{form.hospital}}#}
                            <input class="field" type="text" placeholder=" " id="hospital" name="hospital" required>
                            <label class="prompt" for="hospital">Hospital</label>
                        </div>
                        <div class="textfield" id="consultation_fee" name="consultation_fee" required>
                            {{form.consultation_fee}}
                            <label class="prompt" for="consultation_fee">Consultation Fee</label>
                        </div>
                        <div class="textfield" id="license_number" name="license_number" required>
                            {{form.license_number}}
                            <label class="prompt" for="license_number">License Number</label>
                        </div>
                    </div>
                    {%  for error in form.errors.values %}
                        <p class = "message"> {{error}} </p>
                    {% endfor %}
                    {%  for message in messages %}
                        <ul>
                            <li class = "errorlist" id="errorlist"> {{message}} </li>
                        </ul>
                    {% endfor %}
                    <input class="button" type="submit" name="Create User" value="Sign Up">
                    <h2 class="text">Have an existing account?</h2>
                    <a class="link" href="http://127.0.0.1:8000/signin">Sign In</a>
                </form>
            </div>
        </body>
    {% endblock %}
</html>
